body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
#main-header {
    color: cornflowerblue;
    padding: 10px;
    margin: 20px;
    background-color: whitesmoke;
    border-radius: 10%;
    border-color: grey;
    border-style: groove;
    text-align: center;
}

/* Intro */
.main-section {
    background-color: blanchedalmond;
    padding: 10px;
}

/* URL styling */
a.urls {
    text-decoration: none;
    color: blue;
}

/* Hover effect for urls */
a.urls:hover {
    color: palevioletred;
}

/* Section tag styling*/
section {
    margin-bottom: 20px;
}
/* img tag styling*/
img{
    margin-top: 10px;
    height: 200px;
}